@import 'colors';

@mixin hoverAndDisabled($color) {
  &:hover {
    background-color: lighten($color, 10);
  }

  &:disabled {
    background-color: lighten($color, 30);
  }
}

@mixin button($color) {
  background-color: $color;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

//COLORS
.btn {
  @include button(#21273D);
  @include hoverAndDisabled(#21273D);
}

.btn-orange {
  @include button($orange);
  @include hoverAndDisabled($orange);
}

//SIZES
.btn-lg {
  font-size: 1.8rem;
}