@import '../../../common-styles/utils';

.items-list-wrapper {
  width: 100%;
  height: calc(100vh - 210px);
  overflow: auto;

  &.center {
    @include flex-center();
  }

  .loading-user-items-wrapper {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;

    .loading-text {
      margin-top: 20px;
    }
  }

  .items {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item {
      display: inline-flex;
      border: 1px solid #e2e9e6;
      flex-direction: column;
      max-width: 250px;
      margin-bottom: 20px;

      .image-wrapper {
        background: black;
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;

        img {
          max-height:100%;
          max-width:100%;
        }
      }

      .data-wrapper {
        display: flex;
        flex-direction: column;
        padding: 15px;

        .info-box {
          align-items: center;
          display: flex;
          margin-bottom: 10px;
          overflow: hidden;

          i {
            margin-right: 10px;
          }

          span {
            @include ellipsis();
          }
        }
      }
    }
  }
}